{% load humanize %}
<!DOCTYPE html>
<html>
<title>Punto de venta</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-container w3-top w3-black w3-large w3-padding" style="z-index:4">
  <button class="w3-button w3-hide-large w3-padding-0 w3-black w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-right w3-animate-fading">APLICACIONES AZPTEC - PUNTO DE VENTA WEB</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left w3-border" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Bienvenido<strong><!--Usuer--></strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h6>NEGOCIOS</h6>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>


    <!-- !PAPELERIA! -->
    {% if negocio == 'PAPELERIA' %}
    <a href="/azptec/PuntoVenta/negocios/PAPELERIA/VENTAS_DIA" class="w3-bar-item w3-button w3-blue"></i>PAPELERIA SIFON</a>
    {% else %}
    <a href="/azptec/PuntoVenta/negocios/PAPELERIA/VENTAS_DIA" class="w3-bar-item w3-button"></i>PAPELERIA SIFON</a>
    {% endif %}

    <!-- !FORRAJERA! -->
    {% if negocio == 'FORRAJERA' %}
    <a href="/azptec/PuntoVenta/negocios/FORRAJERA/VENTAS_DIA" class="w3-bar-item w3-button w3-blue"></i>VETERINARIA SAN ANTONIO</a>
    {% else %}
    <a href="/azptec/PuntoVenta/negocios/FORRAJERA/VENTAS_DIA" class="w3-bar-item w3-button"></i>VETERINARIA SAN ANTONIO</a>
    {% endif %}

    <!-- !FORRAJERA! -->
    {% if negocio == 'VETERINARIA_SIFON' %}
    <a href="/azptec/PuntoVenta/negocios/VETERINARIA_SIFON/VENTAS_DIA" class="w3-bar-item w3-button w3-blue"></i>VETERINARIA SIFON</a>
    {% else %}
    <a href="/azptec/PuntoVenta/negocios/VETERINARIA_SIFON/VENTAS_DIA" class="w3-bar-item w3-button"></i>VETERINARIA SIFON</a>
    {% endif %}

    <!-- REPORTES GENERALES -->
    {% if negocio == 'REPORTES_GENERALES' %}
    <a href="/azptec/PuntoVenta/negocios/REPORTES_GENERALES/CATEGORIAS" class="w3-bar-item w3-button w3-blue"></i>REPORTES GENERALES</a>
    {% else %}
    <a href="/azptec/PuntoVenta/negocios/REPORTES_GENERALES/CATEGORIAS" class="w3-bar-item w3-button"></i>REPORTES GENERALES</a>
    {% endif %}

  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">


  <!-- !MENU TIPO DE REPORTE! -->
  <div class="w3-container w3-white w3-border">
  {% if negocio != 'REPORTES_GENERALES'  %}
    {% if reporte == 'VENTAS_DIA'  %}
    <a href="/azptec/PuntoVenta/negocios/{{negocio}}/VENTAS_DIA/" class="w3-bar-item w3-button w3-padding w3-green">VENTAS</a>
    {% else %}
    <a href="/azptec/PuntoVenta/negocios/{{negocio}}/VENTAS_DIA/" class="w3-bar-item w3-button w3-padding w3-white">VENTAS</a>
    {% endif %}

    {% if reporte == 'REPORTE_COMPRAS' %}
    <a href="/azptec/PuntoVenta/negocios/{{negocio}}/REPORTE_COMPRAS/" class="w3-bar-item w3-button w3-padding w3-green">PEDIDOS</a>
    {% else %}
    <a href="/azptec/PuntoVenta/negocios/{{negocio}}/REPORTE_COMPRAS/" class="w3-bar-item w3-button w3-padding w3-white">PEDIDOS</a>
    {% endif %}

    {% if reporte == 'REPORTE_VETNAS' %}
    <a href="/azptec/PuntoVenta/negocios/{{negocio}}/REPORTE_VETNAS/" class="w3-bar-item w3-button w3-padding w3-green">RESUMEN</a>
    {% else %}
    <a href="/azptec/PuntoVenta/negocios/{{negocio}}/REPORTE_VETNAS/" class="w3-bar-item w3-button w3-padding w3-white">RESUMEN</a>
    {% endif %}

  {% else %}
  <a class="w3-bar-item w3-button w3-padding w3-green">GRUPOS</a>



{% endif %}
  </div>

  <!-- CONFIGURAR REPORTE VENTA DEL DIA-->

{% if reporte == 'VENTAS_DIA' %}

<div class="w3-container ">
  <h5>SELECCIONE LA FECHA</h5>
  <form action="/azptec/PuntoVenta/negocios/{{negocio}}/{{reporte}}/" method="post" >
    {% csrf_token %}
    <label for='fechaInicio'>Fecha inicio:</label>
    <input type="date" name="fechaInicio" id='fechaInicio' value="{{fechaInicio}}">
    <label for='fechaFin'>Fecha fin:</label>
    <input type="date" name="fechaFin" id='fechaFin' value="{{fechaFin}}">
    <input type="submit" value="Obtener reporte">
  </form>
</div>


  <div class="w3-container">



    <a id="loginLink" onclick="toggleTable();" href="#">Mostrar/Ocultar tabla</a>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" id="loginTable">
      <tr>
        <th class="w3-border w3-center w3-gray" colspan="6">VENTAS</th>
      </tr>
      <tr >
        <th class="w3-border">FECHA</th>
        <th class="w3-border">UNIDADES</th>
        <th class="w3-border">PRODUCTO</th>
        <th class="w3-border">CATEGORIA</th>
        <th class="w3-border">TOTAL VENTA</th>
        <th class="w3-border">UNIDADES DISP</th>
      </tr>
      {% for venta in ventas %}
      <tr>
         <td class="w3-border">{{ venta.id_venta.fecha_venta|date:"d/M/Y" }}<sup style="text-align:right;font-family: Consolas, monaco, monospace;">(<a href='/admin/PuntoVenta/puntoventaventa/{{venta.id_venta}}/change/'>{{venta.id_venta}}</a>)</sup></td>
         <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">{{venta.cantidad_producto|floatformat:2|intcomma}}</td>
         <td class="w3-border">{{venta.id_producto.nombre_producto}}</td>
         <td class="w3-border">{{venta.id_producto.id_categoria.nombre_categoria}}</td>
         <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{venta.total|floatformat:2|intcomma}}</td>
         <style>
            .td_cus {
              color:#FF0000  !important;
              font-weight: bold;
              text-align:righ;
              font-family: Consolas, monaco, monospace;
            }
         </style>
            {% if venta.id_producto.cantidad_disponible < 3 %}
               <td class="td_cus w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">{{venta.id_producto.cantidad_disponible|floatformat:2|intcomma}}</td>
            {% else %}
               <td class='w3-border' style="text-align:right;font-family: Consolas, monaco, monospace;">{{venta.id_producto.cantidad_disponible|floatformat:2|intcomma}}</td>
            {% endif %}
      </tr>
      {% endfor  %}
    </table>
    <br>
  </div>


  <hr>



      <div class="w3-container">


        <table class="w3-table w3-striped w3-white">
          <tr>
            <th class="w3-border w3-center w3-gray" colspan="3">CATEGORIAS</th>
          </tr>
          <tr>
            <th class="w3-border">NOMBRE CATEGORIA</th>
            <th class="w3-border">TOTAL VENTA</th>
            <th class="w3-border">TOTAL GANANCIA</th>
          </tr>
          {% for categoria in categoriasGanancias %}
            <tr>
              <td class="w3-border">{{categoria.id_producto__id_categoria__nombre_categoria}}</td>
              <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{categoria.total_venta|floatformat:2|intcomma}}</td>
              <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{categoria.total_ganancia|floatformat:2|intcomma}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>

  <hr>

      <div class="w3-container">

        <table class="w3-table w3-striped w3-white">
          <tr>
            <th class="w3-border w3-center w3-gray" colspan="3">INGRESOS</th>
          </tr>
          <tr>
             <th class="w3-border">TOTAL VENTA</th>
             <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{ganancias.total_venta|floatformat:2|intcomma}}</td>
          </tr>
          <tr>
             <th class="w3-border">TOTAL GANANCIA</th>
             <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{ganancias.total_ganancia|floatformat:2|intcomma}}</td>
          </tr>

        </table>
      </div>

  <hr>


{% endif %}

{% if reporte == 'REPORTE_COMPRAS' %}

<div class="w3-container ">
  <h5>SELECCIONE LA FECHA</h5>
  <form action="/azptec/PuntoVenta/negocios/{{negocio}}/{{reporte}}/" method="post" >
    {% csrf_token %}
    <label for='fechaInicio'>Fecha inicio:</label>
    <input type="date" name="fechaInicio" id='fechaInicio' value="{{fechaInicio}}">
    <label for='fechaFin'>Fecha fin:</label>
    <input type="date" name="fechaFin" id='fechaFin' value="{{fechaFin}}">
    <input type="submit" value="Obtener reporte">
  </form>
</div>


  <div class="w3-container">



    <a id="loginLink" onclick="toggleTable();" href="#">Mostrar/Ocultar tabla</a>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" id="loginTable">
      <tr>
        <th class="w3-border w3-center w3-gray" colspan="7">COMPRAS</th>
      </tr>
      <tr >
        <th class="w3-border">FECHA</th>
        <th class="w3-border">PRODUCTO</th>
        <th class="w3-border">UNIDADES COMPRADAS</th>
        <th class="w3-border">TOTAL DE UNIDADES</th>
        <th class="w3-border">TOTAL COMPRA</th>
        <th class="w3-border">PRECIO COMPRA</th>
        <th class="w3-border">PRECIO VENTA</th>
      </tr>
      {% for compra in compras %}
      <tr>
         <td class="w3-border">{{ compra.fecha_registro|date:"d/M/Y" }}<sup style="text-align:right;font-family: Consolas, monaco, monospace;">(<a href='/admin/PuntoVenta/puntoventaventa/{{venta.id_venta}}/change/'>{{venta.id_venta}}</a>)</sup></td>
         <td class="w3-border">{{compra.id_producto.nombre_producto}}</td>
         <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">{{compra.cantidad_adicionada|floatformat:2|intcomma}}</td>
         <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">{{compra.cantidad_nueva|floatformat:2|intcomma}}</td>
         <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{compra.total_compra|floatformat:2|intcomma}}</td>
         <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{compra.id_producto.precio_compra|floatformat:2|intcomma}}</td>
         <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{compra.id_producto.precio_venta|floatformat:2|intcomma}}</td>

      </tr>
      {% endfor  %}
    </table>
    <br>
  </div>



{% endif %}

{% if reporte == 'REPORTE_VETNAS' %}

<div class="w3-container ">
  <h5>SELECCIONE LA OPCION</h5>
  <form action="/azptec/PuntoVenta/negocios/{{negocio}}/{{reporte}}/" method="post" id="formVenta">
    {% csrf_token %}
    {% if TipoAgrupacion == 'PorDia' or TipoAgrupacion == 'PorMes' or TipoAgrupacion == 'PorAno' %}
      <input type="radio" id="radioRango2" name="radioRango" value="radioRango2" onchange="onSelectRadio2()" checked>
      <label for='radioRango2'>Agrupado</label><br>
      <select id="TipoAgrupacion" name="TipoAgrupacion" onchange="onSelectChange()" >
      {% if TipoAgrupacion == 'PorDia' %}
          <option value="PorDia" selected="PorDia">Por dia - mes actual</option>
          <option value="PorMes">Por mes - año actual</option>
          <option value="PorAno">Por año - todo</option>
      {% endif %}
      {% if TipoAgrupacion == 'PorMes' %}
          <option value="PorDia">Por dia - mes actual</option>
          <option value="PorMes" selected="PorMes">Por mes - año actual</option>
          <option value="PorAno">Por año - todo</option>
      {% endif %}
      {% if TipoAgrupacion == 'PorAno' %}
          <option value="PorDia">Por dia - mes actual</option>
          <option value="PorMes">Por mes - año actual</option>
          <option value="PorAno" selected="PorAno">Por año - todo</option>
      {% endif %}
    </select><br><br>
    <input type="radio" id="radioRango1" name="radioRango" value="radioRango1" onchange="onSelectRadio1()"  >
    <label for='radioRango1'>Por Rango - Agrupado por dia</label><br>
    <label for='fechaInicio'>Fecha inicio:</label>
    <input type="date" name="fechaInicio" id='fechaInicio' value="{{fechaInicio}}" disabled>
    <label for='fechaFin'>Fecha fin:</label>
    <input type="date" name="fechaFin" id='fechaFin' value="{{fechaFin}}" disabled>
    <input type="submit" value="Obtener reporte" id="submitButton1" disabled><br><br>
    {% endif %}

    {% if TipoAgrupacion == 'PorRango' %}
      <input type="radio" id="radioRango2" name="radioRango" value="radioRango2" onchange="onSelectRadio2()" >
      <label for='radioRango2'>Agrupado</label><br>
      <select id="TipoAgrupacion" name="TipoAgrupacion" onchange="onSelectChange()" disabled >
          <option value="PorDia">Por dia - mes actual</option>
          <option value="PorMes">Por mes - año actual</option>
          <option value="PorAno">Por año - todo</option>
    </select><br><br>
    <input type="radio" id="radioRango1" name="radioRango" value="radioRango1" onchange="onSelectRadio1()" checked  >
    <label for='radioRango1'>Por Rango - Agrupado por dia</label><br>
    <label for='fechaInicio'>Fecha inicio:</label>
    <input type="date" name="fechaInicio" id='fechaInicio' value="{{fechaInicio}}" >
    <label for='fechaFin'>Fecha fin:</label>
    <input type="date" name="fechaFin" id='fechaFin' value="{{fechaFin}}" >
    <input type="submit" value="Obtener reporte" id="submitButton1" ><br><br>
    {% endif %}

  </form>
</div>


<div class="w3-container">

  <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" id="loginTable">
    <tr>
      <th class="w3-border w3-center w3-gray" colspan="6">VENTAS</th>
    </tr>
    <tr >
      <th class="w3-border" style="text-align:center">FECHA</th>
      <th class="w3-border" style="text-align:center">TOTAL VENTA</th>
      <th class="w3-border" style="text-align:center">TOTAL GANANCIA</th>

    </tr>
    {% for ganancia in ganancias %}

    <tr>
       {% if TipoAgrupacion == 'PorDia' or TipoAgrupacion == 'PorRango'  %}
          <td class="w3-border" style="text-align:center">{{ ganancia.day|date:"Y/m/d" }}</td>
       {% endif %}
       {% if TipoAgrupacion == 'PorMes' %}
          <td class="w3-border" style="text-align:center">{{ ganancia.day|date:"F Y" }}</td>
       {% endif %}
       {% if TipoAgrupacion == 'PorAno' %}
          <td class="w3-border" style="text-align:center">{{ ganancia.day|date:"Y" }}</td>
       {% endif %}
       <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{ganancia.total_venta|floatformat:2|intcomma}}</td>
       <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{ganancia.total_ganancia|floatformat:2|intcomma}}</td>
    </tr>
    {% endfor  %}
  </table>
  <br>
</div>
{% endif %}

{% if reporte == 'CATEGORIAS' %}

<div class="w3-container ">
  <h5>SELECCIONE LA FECHA</h5>
  <form action="/azptec/PuntoVenta/negocios/{{negocio}}/{{reporte}}/" method="post" >
    {% csrf_token %}
    <label for='fechaInicio'>Fecha inicio:</label>
    <input type="date" name="fechaInicio" id='fechaInicio' value="{{fechaInicio}}">
    <label for='fechaFin'>Fecha fin:</label>
    <input type="date" name="fechaFin" id='fechaFin' value="{{fechaFin}}">
    <input type="submit" value="Obtener reporte">
  </form>
</div>

<div class="w3-container">

  <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" id="loginTable">
    <tr>
      <th class="w3-border w3-center w3-gray" colspan="6">VENTAS</th>
    </tr>
    <tr >
      <th class="w3-border">FECHA</th>
      <th class="w3-border">GRUPO</th>
      <th class="w3-border">UNIDADES VENDIDAS</th>
      <th class="w3-border">TOTAL VENTA</th>
      <th class="w3-border">TOTAL GANANCIA</th>
    </tr>
    {% for categoria in categoriasGanancias %}
    <tr>
       <td class="w3-border" >{{ categoria.dayGrouped|date:"Y/m/d" }}</td>
       <td class="w3-border" >{{ categoria.id_producto__id_categoria__id_grupo__nombre_grupo }}</td>
       <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">{{ categoria.unidades_vendidas|floatformat:2|intcomma}}</td>
       <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{ categoria.total_venta|floatformat:2|intcomma }}</td>
       <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{ categoria.total_ganancia|floatformat:2|intcomma }}</td>
    </tr>
    {% endfor  %}
  </table>
</div>

{% endif %}


  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>ACERCA DE</h4>
    <p>Enviar mail a: <a href="mailto:sah070690@gmail.com" target="_blank">APLICACIONES AZPTECT - Software y Sistemas empresariales</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}

function toggleTable() {
    var lTable = document.getElementById("loginTable");
    lTable.style.display = (lTable.style.display == "table") ? "none" : "table";
}

function onSelectChange(){
 document.getElementById('formVenta').submit();
}

function onSelectRadio1(){
  document.getElementById('TipoAgrupacion').disabled=true;
  document.getElementById('fechaFin').disabled=false;
  document.getElementById('fechaInicio').disabled=false;
  document.getElementById('submitButton1').disabled=false;
}

function onSelectRadio2(){
  document.getElementById('TipoAgrupacion').disabled=false;
  document.getElementById('fechaFin').disabled=true;
  document.getElementById('fechaInicio').disabled=true;
  document.getElementById('submitButton1').disabled=true;
}
</script>

</body>
</html>
