{% include 'partials/reportes_header_negocio.html' %}
{% load humanize %}

<div class="w3-container ">
  <h5>SELECCIONE LA FECHA</h5>
  <form action="/azptec/PuntoVenta/negocios/{{negocio}}/{{reporte}}/" method="post" >
    {% csrf_token %}
    <label for='fechaInicio'>Fecha inicio:</label>
    <input type="date" name="fechaInicio" id='fechaInicio' value="{{fechaInicio}}">
    <label for='fechaFin'>Fecha fin:</label>
    <input type="date" name="fechaFin" id='fechaFin' value="{{fechaFin}}">
    <input type="submit" value="Obtener reporte">
  </form>
</div>

<div class="w3-container">
  <a id="loginLink" onclick="toggleTable();" href="#">Mostrar/Ocultar tabla</a>
  <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" id="loginTable">
    <tr>
      <th class="w3-border w3-center w3-gray" colspan="6">VENTAS</th>
    </tr>
    <tr >
      <th class="w3-border">FECHA</th>
      <th class="w3-border">UNIDADES</th>
      <th class="w3-border">PRODUCTO</th>
      <th class="w3-border">CATEGORIA</th>
      <th class="w3-border">TOTAL VENTA</th>
      <th class="w3-border">UNIDADES DISP</th>
    </tr>
    {% for venta in ventas %}
    <tr>
      <td class="w3-border">{{ venta.id_venta.fecha_venta|date:"d/M/Y" }}<sup style="text-align:right;font-family: Consolas, monaco, monospace;">(<a href='/admin/PuntoVenta/puntoventaventa/{{venta.id_venta}}/change/'>{{venta.id_venta}}</a>)</sup></td>
      <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">{{venta.cantidad_producto|floatformat:2|intcomma}}</td>
      <td class="w3-border">{{venta.id_producto.nombre_producto}}</td>
      <td class="w3-border">{{venta.id_producto.id_categoria.nombre_categoria}}</td>
      <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{venta.total|floatformat:2|intcomma}}</td>
      <style>
      .td_cus {
        color:#FF0000  !important;
        font-weight: bold;
        text-align:righ;
        font-family: Consolas, monaco, monospace;
      }
      </style>
      {% if venta.id_producto.cantidad_disponible < 3 %}
      <td class="td_cus w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">{{venta.id_producto.cantidad_disponible|floatformat:2|intcomma}}</td>
      {% else %}
      <td class='w3-border' style="text-align:right;font-family: Consolas, monaco, monospace;">{{venta.id_producto.cantidad_disponible|floatformat:2|intcomma}}</td>
      {% endif %}
    </tr>
    {% endfor  %}
  </table>
  <br>
</div>

<hr>

<div class="w3-container">
  <table class="w3-table w3-striped w3-white">
    <tr>
      <th class="w3-border w3-center w3-gray" colspan="3">CATEGORIAS</th>
    </tr>
    <tr>
      <th class="w3-border">NOMBRE CATEGORIA</th>
      <th class="w3-border">TOTAL VENTA</th>
      <th class="w3-border">TOTAL GANANCIA</th>
    </tr>
    {% for categoria in categoriasGanancias %}
    <tr>
      <td class="w3-border">{{categoria.id_producto__id_categoria__nombre_categoria}}</td>
      <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{categoria.total_venta|floatformat:2|intcomma}}</td>
      <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{categoria.total_ganancia|floatformat:2|intcomma}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

  <hr>

<div class="w3-container">
  <table class="w3-table w3-striped w3-white">
    <tr>
      <th class="w3-border w3-center w3-gray" colspan="3">INGRESOS</th>
    </tr>
    <tr>
      <th class="w3-border">TOTAL VENTA</th>
      <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{ganancias.total_venta|floatformat:2|intcomma}}</td>
    </tr>
    <tr>
      <th class="w3-border">TOTAL GANANCIA</th>
      <td class="w3-border" style="text-align:right;font-family: Consolas, monaco, monospace;">${{ganancias.total_ganancia|floatformat:2|intcomma}}</td>
    </tr>
  </table>
</div>

<hr>

{% include 'partials/reportes_footer.html' %}
