<html>
<head>
<style>
table, th, td, tr {
    border: 1px solid black;

}
.content-loader td, tr {
  white-space: nowrap;
}
</style>

  <table>
    <tr>
    <th>FECHA</th>
    <th>NOMBRE PRODUCTO</th>
    <th>PRECIO DE COMPRA</th>
    <th>PRECIO DE VENTA</th>
    <th>TOTAL VENTA</th>
    <th>TOTAL PRODUCTOS</th>
    <th>TOTAL GANANCIA</th>
  </tr>
  {% for venta in ventas %}
  <tr>
  <td>{{venta.id_venta.fecha_venta}}</td>
  <td>{{venta.id_producto.nombre_producto}}</td>
  <td  align="right">${{venta.id_producto.precio_compra}}</td>
  <td  align="right">${{venta.id_producto.precio_venta}}</td>
  <td  align="right">${{venta.total}}</td>
  <td  align="center">{{venta.cantidad_producto}}</td>
  <td  align="right">${{venta.ganancia}}</td>
</tr>
  {% endfor  %}
</table>

  <table>
    <tr>
    <th>TOTAL GANANCIA</th>
    <th>TOTAL VENTA</th>

  </tr>

      <tr>
      <td>{{ganancias.total_ganancia}}</td>
      <td>{{ganancias.total_venta}}</td>
      </tr>

    </table>

</body>
</html>
